/*Знаю, что так делать нельзя, но как черновой вариант так*/
* {box-sizing: border-box;}

/* Общие стили*/
body {
	min-width: 1200px;
	margin: 0;
	padding: 0;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
}

.main-header {
	background-color: #eeeeee;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.container {
	width: 1200px;
	padding: 0 20px;
	margin: 0 auto;
}
/* Стили для главной*/

.logo {
	background-color: #eeeeee;
	float: left;
	width: 160px;
	margin-right: 180px;
}

.index-navigation {
	background-color: #eeeeee;
	color: #000000;
	min-height: 125px;
	margin: 0;
}

.main-navigation {
	background-color: #eeeeee;
	color: #000000;
	float: left;
	width: 550px;
	min-height: 125px;
}

.main-navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}

.main-navigation li {
	display: inline-block;
	position: relative;
	vertical-align: top;
	font-size: 16px;
	line-height: 30px;
	text-transform: uppercase;
}

.main-navigation a {
	display: block;
	padding-top: 32px;
	padding-right: 20px;
	padding-left: 20px;
	color: #000000;
	text-decoration: none;
}

.main-navigation a:hover {
	color: #fb565a;
}

.active  a::after{
	content: " ";
	width: 74px;
	position: absolute;
	border: 1px solid #fb565a;
	left: 21px;
	bottom: -13px;
}

.user-block {
	float: right;
	max-width: 160px;
	font-size: 16px;
	line-height: 30px;
	text-transform: uppercase;
}

.basket {
	position: relative;
	display: inline-block;
	padding-top: 32px;
	padding-bottom: 20px;
	padding-left: 50px;
	font-size: 16px;
	line-height: 30px;
	vertical-align: top;
	color: #000000;
	text-decoration: none;	
}

.basket::before {
	position: absolute;
	content: "";
	width: 15px;
	height: 15px;
	left: 5px;
	bottom: 27px;
	background: url("../img/icon-basket.png") no-repeat;
}

.basket:hover {
	color: #fb565a;
}

.index-slogan {
	background-color: #eeeeee;
	min-height: 420px;
}

.banner {
	padding-left: 425px;
}

.slogan {
	width: 425px;
	height: 340px;
	position: absolute;
}

.slogan b {
	font-size: 55px;
	line-height: 55px;
}

.slogan p {
	font-size: 16px;
	line-height: 24px;
}

.caption h1 {
	background-color: #eeeeee;
	font-size: 55px;
	line-height: 55px;
	text-align: center;
	vertical-align: middle;
	margin: 0;
	padding-bottom: 110px;
	
}

.slogan a {
	position: absolute;
	bottom: 75px;
	background-color: #fb565a;
	width: 240px;
	height: 50px;
	color: #ffffff;
	padding: 15px 50px;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 3px;
}

.index-slogan {
	position: relative;
}

.advantages-item h2 {
	font-size: 24px;
	line-height: 30px;
}

.advantages-item {
	float: left;
	width: 300px;
	margin-right: 100px;
	min-height: 350px;
	padding-bottom: 80px;
}	

.advantages-item:last-child {
	margin-right: 0;
}

.advantages p {
	font-size: 16px;
	line-height: 24px;
	padding-bottom: 37px;
	padding-right: 40px;
}

.advantages {
	
	padding-top: 80px;
	position: relative;
	border-bottom: 1px solid #eeeeee;
}

.btn-site {
	background-color: #fb565a;
	padding: 15px 40px;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 2px;
}

.btn-app {
	background-color: #00ca74;
	padding: 15px 40px;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 2px;
}

.btn-presentation {
	background-color: #efc84a;
	padding: 15px 40px;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 2px;
}	

.content {
	padding-top: 80px;
	margin-bottom: 60px;
}

.content-left {
	background-color: #ffffff;
	float: left;
	width: 660px;
	position: relative;
	font-size: 16px;
	line-height: 24px;
	color: #283136;
}

.content-left span {
	display: block;
	width: 750px;
	font-size: 45px;
	line-height: 45px;
	color: #000000;
	font-weight: bold;
	margin-bottom: 35px;
}

.content-left b {
	text-transform: uppercase;
	font-weight: bold;
}

.content p {
	margin-bottom: 40px;
}

.content-left ul {
	list-style: none;
	padding-left: 37px;
	margin-top: 30px;
}

.content-left li {
	padding-bottom: 30px;
	position: relative;
}

.content-left li:last-child {
	padding-bottom: 0;
}

.content-left li::before {
	content: " ";
	width: 25px;
	position: absolute;
	border: 1px solid #fb565a;
	left: -36px;
	top: 10px;
}

.content-right {
	float: right;
	width: 360px;
	margin-bottom: 35px;
	font-size: 16px;
	line-height: 24px;
	color: #283136;
}

.content-right b {
	display: block;
	padding-top: 10px;
	padding-bottom: 35px;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
}

.level {
	float: left;
	width: 110px;
	font-size: 16px;
	line-height: 18px;
	color: #283136;
}

.level .statistic {
	padding-bottom: 22px;
	font-size: 45px;
	color: #000000;
}
.term .statistic{
	padding-bottom: 22px;
	font-size: 45px;
	color: #000000;
}

.prepay .statistic {
	padding-bottom: 22px;
	font-size: 45px;
	color: #000000;
}
.level .statistic .sup-index {
	color: #000000;
	font-size: 22px;
	line-height: 10px;
}

.term .statistic .sup-index {
	color: #000000;
	font-size: 22px;
	line-height: 10px;
}

.prepay .statistic .sup-index {
	color: #000000;
	font-size: 22px;
	line-height: 10px;
}

.partner-logo {
	position: relative;
	float: left;
	width: 280px;
	height: 180px;
	margin-bottom: 80px;
	padding-top: 45px;
	text-align: center;
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
}

.partner-logo::before {	
	content: " ";
	height: 50px;
	position: absolute;
	border: 1px solid #eeeeee;
	position: absolute;
	left: 280px;
	top: 45px;
}

.partner-logo:last-child {
	margin-right: 0;
	
}

.partner-logo a {
	display: block;
}

/*Общие стили для футера и карты*/
.map {
	text-align: center;
	position: relative;
}

.contacts {
	background-color: #ffffff;
	width: 320px;
	height: 310px;
	position: absolute;
	left: 50%;
	margin-left: -600px;
	margin-top: -380px;
	padding-left: 50px;
	padding-top: 45px;
}

.contacts h3 {
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	margin: 0;
}

.contacts a {
	color: #000000;
	text-decoration: none;
}

.map-mark {
	position: absolute;
	right: 950px;
}

.btn-contacts {
	background: #fb565a;
	color: #ffffff;
	padding: 17px 45px;
	text-transform: uppercase;
}

.contacts b {
	font-size: 16px;
	line-height: 18px;
	color: #666666;
}

.footer-social {
	height: 217px;
	float: left;
	width: 260px;
	text-align: center;
}

.social-btn {
	display: inline-block;
	width: 79px;
	height: 79px;
	font-size: 0;
	margin-top: 69px;
	background: url("../img/social.png") no-repeat center;
}

.social-btn-vk {
	background-position: -198px 0;
}

.social-btn-fb {
	background-position: -1px 0;
}

.social-btn-inst {
	background-position: -100px 0;
}

.discount {
	display: inline-block;
	min-width: 360px;
	padding-top: 70px;
	padding-left: 120px;
}

.discount b{
	font-size: 36px;
	line-height: 36px;
}

.discount p {
	font-size: 16px;
	line-height: 22px;
	color: #444444;
}

/*Стили для обратной связи*/

.feedback {
	position: absolute;
	width: 960px;
	min-height: 600px;
	bottom: 180px;
	right: 150px;;
	bottom: -1500px;
	padding-left: 100px;
	padding-bottom: 83px;
	padding-top: 73px;
	background-color: #ffffff;
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.btn-feedback {
	background: #fb565a;
	color: #ffffff;
	padding: 18px 80px;
	text-transform: uppercase;	
	margin-top: 45px;
}

.feedback-close {
	position: absolute;
	top: 78px;
	right: 90px;
	width: 21px;
	height: 21px;
	font-size: 0;
	border: 0;
	background-color: #ffffff;
	cursor: pointer;
}

.feedback-close::before,
.feedback-close::after {
	content: "";
	position: absolute;
	top: 0;
	left: 9px;
	width: 3px;
	height: 20px;
	background-color: #fecccd;
	border-radius: 1px;
}

.feedback-close::before {
	transform: rotate(45deg);
}

.feedback-close::after {
	transform: rotate(-45deg);
}

.feedback-popup input [type="text"] {
	font-size: 16px;
	line-height: 18px;
	font-family: "Roboto", "Arial", sans-serif;
	color: #444444;
	border: 2px solid #444444;
}

.feedback span {
	font-size: 45px;
	line-height: 45px;
}

.feedback-popup label {
	display: inline-block;
	width: 115px;
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
}

.feedback-popup input {
	display: inline-block;
	width: 360px;
	height: 50px;
	margin: 0;
}

.feedback-popup label textarea {
	width: 760px;
	height: 116px;
} 

.feedback-btn {
	background: #fb565a;
	color: #ffffff;
	padding: 15px 80px;
	text-transform: uppercase;
}

/* Стили для католога*/

.filtr-btn {
	display: inline-block;
	width: 9px;
	height: 9px;
	font-size: 0;
	margin-right: 20px;
	background: url("../img/sprite-sort.png") no-repeat center;
}
.filtr-btn:last-child {
	margin-right: 0;
}
.filtr-btn-down {
	background-position: 0 0;
}

.filtr-btn-up {
	background-position: -29px 0;
}

.side-left {
	width: 260px;
	min-height: 785px;
	float: left;
}

.side-right {
	float: right;
	width: 760px;
	margin-left: 0;
}

.side-left b {
	display: block;
	font-size: 18px;
	line-height: 30px;
	color: #000000;
	text-transform: uppercase;
	padding-bottom: 49px;
	padding-top: 55px;
}

.filtr {
	width: 760px;
	vertical-align: middle;
	padding-top: 55px;
	padding-bottom: 55px;
}

.filtr b {
	font-size: 18px;
	line-height: 18px;
	color: #000000;
	text-transform: uppercase;
	margin-right: 250px; 	
}

.filtr span {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	margin-right: 25px;
}

.filtr span a {
	text-decoration: none;
	color: #eeeeee;
}

.filtr .active {
	font-size: 14px;
	line-height: 18px;
	color: #000000;
}

.side-left label {
	display: block;
	position: relative;
	padding-bottom: 22px;
}

.templates-item {
	float: left;
	width: 360px;
	margin-right: 40px;
	margin-bottom: 40px;
}

.templates-item:nth-child(even) {
	margin-right: 0;
}

.paginator a {
	display: inline-block;
	width: 50px;
	height: 50px;
	border: 3px solid #eeeeee;
	border-radius: 3px;
	background-color: #eeeeee;
	color: #000000;
	font-size: 16px;
	line-height: 18px;
	text-decoration: none;
	text-align: center;
	padding-top: 15px;
	margin-right: 5px;
}

.paginator .active {
	background: #ffffff;
}

.paginator .next {
	width: 260px;
}

.paginator {
	margin: 0;
	margin-top: 20px;
}

/*Стили для формы*/

.range-input {
	width: 260px;
}

.range-rail {
	position: relative;
	height: 41px;
	padding-top: 39px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 39px;
	margin-bottom: 15px;
	border-radius: 5px;
	background-color: #f1f1f1;
}
.range-rail .scope {
	height: 2px;
	background-color: #d7dcde; 
}
.range-rail .band {
	width: 145px;
	height: 2px ;
	background-color: #00ca74;
}
.range-rail .switch {
	position: absolute;
	top: 30px;
	left: 0;
	width: 4px;
	height: 4px;
	cursor: pointer;
	border: 8px solid #ffffff;
	background-color: #ababab;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 #cfcfcf;
}
.range-rail .range-min {
	left: 18px;
} 
.range-rail .range-max {
	left: 161px;
} 
.range-price {
	font-size: 0;
}
.range-price label {
	font-size: 16px;
	display: inline-block;
	width: 50%;
}
.max-price {
	text-align: right;
}
.range-price input {
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	width: 80px;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-left: 10px;
	text-align: center;
	color: #283136;
	border: none;
	border-radius: 5px;
	background-color: #f1f1f1;
}

.slider-controls{
    position:absolute;
    bottom:250px;
    left:50%;
    width:90px;
    height:20px;
    margin-left:-50px;
	text-align:center;
    z-index:1000;
}
.slider-controls i{
    display:inline-block;
    width:18px;
    height:18px;
    margin:0 3px;
    background:white;
    border:4px solid #ffffff;
    vertical-align:top;
    border-radius:50%;
    cursor:pointer;
}
.slider-controls .active{
    background:#c1c1c1;
}

